:root {
  --titel-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --header-logo: #000000;
  --footer-logo: #ffffff;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
}
